In [1]:
from __future__ import print_function

import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('iris.csv')

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.drop('Id', axis=1, inplace=True)
df = df.sample(frac=1).reset_index(drop=True)

In [5]:
d = {'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2}
df.replace(d , inplace=True)

In [6]:
images = df.drop('Species', axis=1)
labels = df.loc[:, 'Species']

In [7]:
x_train = images[:100].values
y_train = labels[:100].values
x_test = images[100:].values
y_test = labels[100:].values

In [8]:
preds = []
for i in range(len(x_test)):
    min_diff = 100
    for j in range(len(x_train)):
        diff = sum(abs(x_test[i]-x_train[j]))
        if diff <= min_diff:
            min_diff = diff
            pred = y_train[j]
    preds.append(pred)

In [9]:
acc = np.mean(np.equal(preds, y_test))
print ("Final Test Accuracy:", acc)

Final Test Accuracy: 0.98